@import "../../scss/color";

.blog {
  display: flex;
  flex-direction: column;
  background-color: #292e39;

  &__page {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title h1 {
      color: $nord6;
      text-align: center;
    }

    &__description {
      max-width: 800px;
      font-size: 25px;
      margin: 0px 30px;
      color: $nord5;
      text-align: center;
    }
  }
}
