@import "../../sass/color";

.footer__separator,
.header__navbar {
  background-color: $nord0 !important;
}

.blog {
  display: flex;
  background-color: $nord0;
  align-items: center;
  justify-content: center;
  &__article {
    width: 100%;
    color: $nord6;
  }
}
