@import "../../sass/color";
@import "../../sass/animation";

.card {
  display: flex;
  flex-direction: column;
  margin: 50px 10%;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);

  background-color: $nord2;

  &__content {
    a:visited,
    a:link {
      color: $nord6;
      text-decoration: none;
    }
    display: flex;

    @media screen and (max-width: 900px) {
      flex-direction: column-reverse;
    }

    &__image {
      flex: 1;
      align-self: center;
      margin: 20px;
      img {
        border-radius: 5px;
        width: 100%;
      }
    }

    &__metadata {
      flex: 3;
      color: $nord6;
      margin: 20px;

      @media screen and (max-width: 900px) {
        margin-top: 0px;
      }

      &__synopsis {
        font-weight: 300;
        text-align: justify;
      }

      &__title {
        h1 {
          text-decoration: underline;
          text-underline-offset: 5px;
          margin-top: 0px;
        }
      }
    }
  }

  &__control {
    a:visited,
    a:link {
      color: $nord6;
      text-decoration: none;
    }
    align-self: flex-end;
    margin: 10px;

    button {
      display: flex;
      align-items: center;
      text-decoration: none;
      padding: 10px;
      border-radius: 10px;
      border: none;
      color: $nord10;
      background-color: $nord1;
      outline: none;
      font-size: 20px;
      line-height: 1.3em;
      cursor: pointer;
      &:hover {
        background-color: $nord0;
        transition: all 0.3s;
        animation: hover-feedback 0.3s;
      }
    }
  }
}
